# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Old Forge files
CREDITS_FORGE.txt
LICENSE_FORGE.txt
README_FORGE.txt

# Changelog
changelog.txt